In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import sklearn

In [3]:
df = pd.read_parquet(r"D:\Project\data nyc fare data\train_small.parquet")
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,date,month,year,week_day,time_pickup,hour_pickup,haversine_dist
0,11.7,2009-05-11 18:51:09,-73.998862,40.723074,-73.958886,40.764018,1,11,5,2009,0,18:51:09,18,5.663016
1,14.5,2014-04-29 23:22:54,-73.863269,40.769199,-73.888674,40.751314,1,29,4,2014,1,23:22:54,23,2.921201
2,4.1,2011-11-14 22:01:00,-74.002092,40.750878,-73.998700,40.750160,1,14,11,2011,0,22:01:00,22,0.296675
3,9.7,2011-06-30 12:51:00,-73.927200,40.764652,-73.964990,40.759925,1,30,6,2011,3,12:51:00,12,3.225852
4,7.3,2012-04-09 08:34:00,-73.980698,40.769550,-73.973877,40.787225,2,9,4,2012,0,08:34:00,8,2.047570

In [4]:
df.shape

(27157185, 14)

In [5]:
df.isnull().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
date                 0
month                0
year                 0
week_day             0
time_pickup          0
hour_pickup          0
haversine_dist       0
dtype: int64

In [6]:
df['passenger_count'].value_counts()

passenger_count
1    18776091
2     4011320
5     1925101
3     1194724
4      578234
6      576867
0       94824
9          14
7           7
8           3
Name: count, dtype: int64

In [8]:
df = df[df['passenger_count'] <=6]
df.reset_index(drop=True,inplace=True)

In [9]:
df['week_day'].value_counts()

week_day
4    4179905
5    4123006
3    4068784
2    3940295
1    3803860
6    3561958
0    3479353
Name: count, dtype: int64