In [1]:
import pandas as pd
import polars as pl
import numpy as np
import pyarrow

In [2]:
# Load the Parquet file
df = pl.read_parquet(r"D:\Project\data nyc fare data\train.parquet")
df.head()

shape: (5, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ key       ┆ fare_amou ┆ pickup_da ┆ pickup_lo ┆ … ┆ dropoff_l ┆ dropoff_l ┆ passenger ┆ date     │
│ ---       ┆ nt        ┆ tetime    ┆ ngitude   ┆   ┆ ongitude  ┆ atitude   ┆ _count    ┆ ---      │
│ str       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ date     │
│           ┆ f64       ┆ datetime[ ┆ f64       ┆   ┆ f64       ┆ f64       ┆ i64       ┆          │
│           ┆           ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2009-06-1 ┆ 4.5       ┆ 2009-06-1 ┆ -73.84431 ┆ … ┆ -73.84161 ┆ 40.712278 ┆ 1         ┆ 2009-06- │
│ 5 17:26:2 ┆           ┆ 5         ┆ 1         ┆   ┆           ┆           ┆           ┆ 15       │
│ 1.0000001 ┆           ┆ 17:26:21  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2010-01-0 ┆ 16.9      ┆ 2010-01-0 ┆ -74.01604 ┆ … ┆ -73.97926 ┆ 40.782004 ┆ 1         ┆ 2010-01- │
│ 5 16:52:1 ┆           ┆ 5         ┆ 8         ┆   ┆ 8         ┆           ┆           ┆ 05       │
│ 6.0000002 ┆           ┆ 16:52:16  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2011-08-1 ┆ 5.7       ┆ 2011-08-1 ┆ -73.98273 ┆ … ┆ -73.99124 ┆ 40.750562 ┆ 2         ┆ 2011-08- │
│ 8 00:35:0 ┆           ┆ 8         ┆ 8         ┆   ┆ 2         ┆           ┆           ┆ 18       │
│ 0.0000004 ┆           ┆ 00:35:00  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 9         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2012-04-2 ┆ 7.7       ┆ 2012-04-2 ┆ -73.98713 ┆ … ┆ -73.99156 ┆ 40.758092 ┆ 1         ┆ 2012-04- │
│ 1 04:30:4 ┆           ┆ 1         ┆           ┆   ┆ 7         ┆           ┆           ┆ 21       │
│ 2.0000001 ┆           ┆ 04:30:42  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2010-03-0 ┆ 5.3       ┆ 2010-03-0 ┆ -73.96809 ┆ … ┆ -73.95665 ┆ 40.783762 ┆ 1         ┆ 2010-03- │
│ 9 07:51:0 ┆           ┆ 9         ┆ 5         ┆   ┆ 5         ┆           ┆           ┆ 09       │
│ 0.0000001 ┆           ┆ 07:51:00  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 35        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [3]:
df.shape

(55423856, 9)

In [4]:
df.columns

['key',
 'fare_amount',
 'pickup_datetime',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'passenger_count',
 'date']

In [5]:
df = df.drop(['key','date'])
df.shape

(55423856, 7)

In [6]:
df = df.with_columns(
    df['pickup_datetime'].dt.day().alias('date'),
    df['pickup_datetime'].dt.month().alias('month'),
    df['pickup_datetime'].dt.year().alias('year'),
    df['pickup_datetime'].dt.weekday().alias('weekday'),
    df['pickup_datetime'].dt.hour().alias('hour'),
    df['pickup_datetime'].dt.time().alias('time') 
)

In [7]:
df.head()

shape: (5, 13)
┌─────────────┬───────────────┬──────────────┬──────────────┬───┬──────┬─────────┬──────┬──────────┐
│ fare_amount ┆ pickup_dateti ┆ pickup_longi ┆ pickup_latit ┆ … ┆ year ┆ weekday ┆ hour ┆ time     │
│ ---         ┆ me            ┆ tude         ┆ ude          ┆   ┆ ---  ┆ ---     ┆ ---  ┆ ---      │
│ f64         ┆ ---           ┆ ---          ┆ ---          ┆   ┆ i32  ┆ i8      ┆ i8   ┆ time     │
│             ┆ datetime[μs]  ┆ f64          ┆ f64          ┆   ┆      ┆         ┆      ┆          │
╞═════════════╪═══════════════╪══════════════╪══════════════╪═══╪══════╪═════════╪══════╪══════════╡
│ 4.5         ┆ 2009-06-15    ┆ -73.844311   ┆ 40.721319    ┆ … ┆ 2009 ┆ 1       ┆ 17   ┆ 17:26:21 │
│             ┆ 17:26:21      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 16.9        ┆ 2010-01-05    ┆ -74.016048   ┆ 40.711303    ┆ … ┆ 2010 ┆ 2       ┆ 16   ┆ 16:52:16 │
│             ┆ 16:52:16      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 5.7         ┆ 2011-08-18    ┆ -73.982738   ┆ 40.76127     ┆ … ┆ 2011 ┆ 4       ┆ 0    ┆ 00:35:00 │
│             ┆ 00:35:00      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 7.7         ┆ 2012-04-21    ┆ -73.98713    ┆ 40.733143    ┆ … ┆ 2012 ┆ 6       ┆ 4    ┆ 04:30:42 │
│             ┆ 04:30:42      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 5.3         ┆ 2010-03-09    ┆ -73.968095   ┆ 40.768008    ┆ … ┆ 2010 ┆ 2       ┆ 7    ┆ 07:51:00 │
│             ┆ 07:51:00      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
└─────────────┴───────────────┴──────────────┴──────────────┴───┴──────┴─────────┴──────┴──────────┘

In [8]:
df.shape

(55423856, 13)

duplicate_count = df.filter(df.is_duplicated()).shape[0]

print(f"Total number of duplicate rows: {duplicate_count}")

In [13]:
df = df.unique()
df.shape

In [11]:
df.head()

shape: (5, 13)
┌─────────────┬───────────────┬──────────────┬──────────────┬───┬──────┬─────────┬──────┬──────────┐
│ fare_amount ┆ pickup_dateti ┆ pickup_longi ┆ pickup_latit ┆ … ┆ year ┆ weekday ┆ hour ┆ time     │
│ ---         ┆ me            ┆ tude         ┆ ude          ┆   ┆ ---  ┆ ---     ┆ ---  ┆ ---      │
│ f64         ┆ ---           ┆ ---          ┆ ---          ┆   ┆ i32  ┆ i8      ┆ i8   ┆ time     │
│             ┆ datetime[μs]  ┆ f64          ┆ f64          ┆   ┆      ┆         ┆      ┆          │
╞═════════════╪═══════════════╪══════════════╪══════════════╪═══╪══════╪═════════╪══════╪══════════╡
│ 5.3         ┆ 2012-05-06    ┆ -73.965054   ┆ 40.762584    ┆ … ┆ 2012 ┆ 7       ┆ 19   ┆ 19:13:29 │
│             ┆ 19:13:29      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 5.5         ┆ 2014-01-07    ┆ -73.98412    ┆ 40.775397    ┆ … ┆ 2014 ┆ 2       ┆ 10   ┆ 10:19:00 │
│             ┆ 10:19:00      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 6.5         ┆ 2010-06-22    ┆ -73.977417   ┆ 40.779443    ┆ … ┆ 2010 ┆ 2       ┆ 22   ┆ 22:33:00 │
│             ┆ 22:33:00      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 13.7        ┆ 2011-06-16    ┆ -73.805565   ┆ 40.71494     ┆ … ┆ 2011 ┆ 4       ┆ 19   ┆ 19:05:00 │
│             ┆ 19:05:00      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
│ 4.1         ┆ 2009-10-05    ┆ -73.999712   ┆ 40.76179     ┆ … ┆ 2009 ┆ 1       ┆ 15   ┆ 15:35:51 │
│             ┆ 15:35:51      ┆              ┆              ┆   ┆      ┆         ┆      ┆          │
└─────────────┴───────────────┴──────────────┴──────────────┴───┴──────┴─────────┴──────┴──────────┘

In [18]:
pl.Config.set_tbl_cols(100)

polars.config.Config

In [19]:
null_counts = df.select([
    pl.col(col).is_null().sum().alias(f"{col}_null_count") for col in df.columns
])

print(null_counts)

shape: (1, 13)
┌─────┬─────┬─────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ far ┆ pic ┆ pic ┆ pickup ┆ dropo ┆ dropo ┆ passe ┆ date_ ┆ month ┆ year_ ┆ weekd ┆ hour_ ┆ time_ │
│ e_a ┆ kup ┆ kup ┆ _latit ┆ ff_lo ┆ ff_la ┆ nger_ ┆ null_ ┆ _null ┆ null_ ┆ ay_nu ┆ null_ ┆ null_ │
│ mou ┆ _da ┆ _lo ┆ ude_nu ┆ ngitu ┆ titud ┆ count ┆ count ┆ _coun ┆ count ┆ ll_co ┆ count ┆ count │
│ nt_ ┆ tet ┆ ngi ┆ ll_cou ┆ de_nu ┆ e_nul ┆ _null ┆ ---   ┆ t     ┆ ---   ┆ unt   ┆ ---   ┆ ---   │
│ nul ┆ ime ┆ tud ┆ nt     ┆ ll_co ┆ l_cou ┆ _coun ┆ u32   ┆ ---   ┆ u32   ┆ ---   ┆ u32   ┆ u32   │
│ l_c ┆ _nu ┆ e_n ┆ ---    ┆ unt   ┆ nt    ┆ t     ┆       ┆ u32   ┆       ┆ u32   ┆       ┆       │
│ oun ┆ ll_ ┆ ull ┆ u32    ┆ ---   ┆ ---   ┆ ---   ┆       ┆       ┆       ┆       ┆       ┆       │
│ t   ┆ cou ┆ _co ┆        ┆ u32   ┆ u32   ┆ u32   ┆       ┆       ┆       ┆       ┆       ┆       │
│ --- ┆ nt  ┆ unt ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ u32 ┆ --- ┆ --- ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ u32 ┆ u32 ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 0   ┆ 0   ┆ 0   ┆ 0      ┆ 376   ┆ 376   ┆ 0     ┆ 0     ┆ 0     ┆ 0     ┆ 0     ┆ 0     ┆ 0     │
└─────┴─────┴─────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [20]:
df= df.filter(
    (pl.col('pickup_longitude') != 0.0) &
    (pl.col('pickup_latitude') != 0.0) &
    (pl.col('dropoff_longitude') != 0.0) &
    (pl.col('dropoff_latitude') != 0.0)
)

In [21]:
df.shape

(54318972, 13)

In [13]:
type(null_counts)

polars.dataframe.frame.DataFrame

In [22]:
df = df.filter(
    (pl.col('pickup_latitude').is_between(-90, 90)) &
    (pl.col('dropoff_latitude').is_between(-90, 90))
)
df = df.filter(
    (pl.col('pickup_longitude').is_between(-180, 180)) &
    (pl.col('dropoff_longitude').is_between(-180, 180))
)

In [23]:
df.shape

(54316546, 13)

In [24]:
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    return 6371 * c

In [33]:
df_pandas = df.to_pandas()

ModuleNotFoundError: pa.Table requires 'pyarrow' module to be installed